@{
    ViewData["Title"] = "Antra-SEP";
}

<div class="container-fluid">
<h1 style="color: 000000; text-align: center; font-weight: bold;">Our Solutions</h1>
<p style="font-family: Arial;">Antra’s services address critical gaps to bring businesses industry-specific technological expertise in a full range of IT services
   and workforce solutions. Our one of the biggest domain expertise includes Information technology, which efficiently enhances the speed 
   of productivity in this present-day work environment. We combine this modern technology, knowledge & business savviness to enhance our
   clients’ IT capabilities in a cost effective manner. Be IT tech consulting, business advisory or professional services; Antra’s unique 
   strategy and approach will make the job done at a significantly low-cost budget.
</p>
</div>
<br />
<div class="container-fluid">
<div class="row">
<div class="col-sm-4">
<h1 style="color: 000000; text-align: center; font-size: 24px; font-weight: bold;">Business Advisory Services</h1>
<p style="font-family: Arial;">Our business advisory services assist our clients to align IT capabilities with their business needs to 
drive growth and productivity. Hence deriving a greater value from IT! We continually seek better ways 
of collaborating with our clients, work more cohesively to understand their business issues.</p>
</div>
<div class="col-sm-4">
<h1 style="color: 000000; text-align: center; font-size: 24px; font-weight: bold;" >Technology Services</h1>
<p style="font-family: Arial; ">Harness the power of emerging technologies while leveraging most out of the legacy IT. Antra offers full 
spectrum of technology services for business to achieve its business goals .Our differentiation starts with 
core fundamental elements required for your technology enablement.</p>
</div>
<div class="col-sm-4">
<h1 style="color: 000000; text-align: center; font-size: 24px; font-weight: bold;">Professional Services</h1>
<p style="font-family: Arial;">Our motto is to bridge skill gap, and foster on agile technologies to support growth of various organizations!
Antra’s full range of workforce solutions and service delivery models equips our clients with the right 
people, skills and competencies required to get IT done.</p>
</div>
</div>
</div>

